body, html {
  height: 100%;
}

.header-section {
  justify-content: center;
}

.header-title {
  color: lightgrey;
  font-family: 'Fredoka One', cursive;
}

.sidebar {
  background-color: lightblue;
}

.main-section {
  height: 100%;
  justify-content: stretch;
  margin: 0;
  padding: 0;
}

.main-column {
  background-color: lightskyblue;
}

.sidebar-header {
  font-size: 160%;
  padding: 20px;
}

#search-button {
  height: 50%;
}

